<% content_for(:site_title_prefix) { @post.title } %>

<div id="page-title">
  <div class="row">
    <div class="ten columns centered text-center">
      <%= caption('headers.blog').html_safe %>
    </div>
  </div>
</div>

<div class="content-outer">
  <div id="page-content" class="row">
    <div id="primary" class="eight columns">
      <article class="post">
        <div class="entry-header cf">
          <h1><%= @post.title %></h1>
          <p class="post-meta">
            <time class="date" datetime="<%= l(@post.published_at, format: :iso) %>">
              <%= l(@post.published_at, format: :long) %>
            </time>
            /
            <span><%= @post.author.name %></span>
          </p>
        </div>

        <% if @post.picture && @post.picture.asset.exists?(:medium) %>
          <div class="post-thumb">
            <% picture = @post.picture.asset %>
            <%= image_tag(picture.url(:medium), alt: picture.original_filename, title: @post.title) %>
          </div>
        <% end %>

        <div class="post-content">
          <%= @post.body.html_safe %>
        </div>

        <ul class="post-nav cf">
          <% if @prev_post %>
            <li class="prev">
              <%= link_to(post_path(@prev_post), rel: 'prev') do%>
                <strong><%= t('front.nav.previous_post') %></strong> <%= @prev_post.title %>
            <% end %>
            </li>
          <% end %>
          <% if @next_post %>
            <li class="next">
              <%= link_to(post_path(@next_post), rel: 'next') do %>
                <strong><%= t('front.nav.next_post') %></strong> <%= @next_post.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </article>

      <div id="comments">
        <h3><%= t('front.comments.count', count: @post.comments.count) %></h3>
        <ol class="commentlist">
          <%= render partial: 'comment', collection: @post.comments %>
        </ol>
        <%= render partial: 'comment_form' %>
      </div>
    </div>

    <div id="secondary" class="four columns end">
      <aside id="sidebar">
        <%= render 'search_widget' %>
      </aside>
    </div>
  </div>
</div>

<script>
    function gravatarProfileCallback(profile) {
        var profile = profile.entry[0];
        if(profile == null || profile.requestHash == null)
            return;
        console.log(profile);
        $('#comments ol.commentlist > li')
            .filter(function () {
                return this.dataset.gravatarHash === profile.requestHash;
            })
            .each(function () {
               var self = $(this);
               var anchor = document.createElement('a');
               anchor.href = profile.profileUrl;
               anchor.title = '<%= j(t('front.comments.label.gravatar_profile')) %>: ' + profile.displayName;
               self.find('.avatar > img').wrap(anchor);
               self.find('.comment-info > cite').wrap(anchor);
            });
    }

    $(document).ready(function () {
        $('.post-content').lightGallery({
            selector: 'figure > a',
            hideBarsDelay: 3000
        });
    });
</script>
